{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
    "rules": {
        "comma-dangle": 0,
        "jsx-quotes": 0,
        "eqeqeq": 2,
        "no-magic-numbers": [ 
            "error", 
            { "ignore": [ -1, 0, 1, 2, 200, 300, 404, 500 ] } 
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": 0
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    }
}
